In [2]:
!pip install gspread

Requirement already satisfied: gspread in c:\users\user\anaconda3\lib\site-packages (5.7.2)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\user\anaconda3\lib\site-packages (from gspread) (1.0.0)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from gspread) (2.16.0)
Requirement already satisfied: six>=1.9.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\user\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.9)

In [17]:
import pandas as pd

In [18]:
import gspread

gc=gspread.service_account(filename='C:\\Users\\User\\Documents\\Python Scripts\\worksheet-import-test-9a3a91e2a584.json')

In [19]:
gc

In [21]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1za25hXIQzOCjCk00ve9E6FoM6qZCShPTzqp8OsDthH4/edit?usp=sharing')

In [22]:
ws=sheet.worksheet('currency')
ws

In [23]:
df = pd.DataFrame(ws.get_all_records())
df

      country currency
0  Bangladesh     Taka
1         USA      Usd
2     Germany     Euro
3          UK    Pound

In [26]:
ws2 = sheet.worksheet('city')
df2=pd.DataFrame(ws2.get_all_records())
df2

      City            County
0   London           England
1  Belfast  Northern Ireland
2   Dublin           Ireland
3  Glasgow          Scotland
4   Berlin           Germany
5    Paris            France